*{
    margin: 0;
    color: rgb(152,88,38);
    padding: 0.3rem;
}
body{
    height: 90vh;
    background-color: rgb(15, 15, 15);
    display: flex;
    align-items: center;
    justify-content: center;
}
p, h1, h2{
    background: #985826;
    background: linear-gradient(to top, #985826 0%, #F8ED99 50%, #985826 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p{
    font-size: larger;
}

#logo-img{
    height: 20rem;
}

#jl:hover{
    transition: 0.2s;
    transform: rotate(20deg);
}

.link-img{
    height: 4rem;
}

#card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    background-color: rgb(5, 5, 5);
    border-radius: 2%;
}
#hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 30vw;
    height: 3px;
    background: rgb(152,88,38);
    background: linear-gradient(90deg, rgba(152,88,38,1) 0%, rgba(248,237,153,1) 50%, rgba(152,88,38,1) 100%);
    border-radius: 10%;
    padding: 0px;
}

.link-container{
    text-align: center;
    padding: 0.5rem;
}

.link-container:hover{
    transition: 0.2s;
    scale: 1.2;

}

#social-container{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media (max-width: 900px) {

    #card-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        background-color: rgb(5, 5, 5);
        border-radius: 2%;
    }
    body{
        background-color: rgb(5, 5, 5); 
    }
}
